.container
    .container.col-md-6
        h2 {{ movie.title }}
        p {{ movie.description }}
    .container.col-md-6
        img(ng-src="{{movie.coverPictureUrl}}")
    div.container
        a(href="#" ng-repeat="tag in movie.tags")
            span.label.label-info {{ tag }}